---
---

<div class="startanimate staropacity">
  <div class="galaxy">
    <div class="star star-type2" style="top: 1015.83px; left: 334.578px;">
    </div><div class="star star-type2" style="top: 106.776px; left: 1684.15px;">
    </div><div class="star star-type1" style="top: 811.046px; left: 1242.7px;">
    </div><div class="star star-type2" style="top: 1011.93px; left: 1346.16px;">
    </div><div class="star star-type3" style="top: 922.967px; left: 902.414px;">
    </div><div class="star star-type1" style="top: 1162.05px; left: 1548.37px;">
    </div><div class="star star-type2" style="top: 1025.36px; left: 51.8484px;">
    </div><div class="star star-type1" style="top: 1139.04px; left: 1329.11px;">
    </div><div class="star star-type3" style="top: 799.312px; left: 60.8105px;">
    </div><div class="star star-type1" style="top: 513.906px; left: 1358.87px;">
    </div><div class="star star-type3" style="top: 668.423px; left: 1599.49px;">
    </div><div class="star star-type2" style="top: 17.0982px; left: 1114.16px;">
    </div><div class="star star-type4" style="top: 653.414px; left: 1871.07px;">
    </div><div class="star star-type3" style="top: 867.035px; left: 823.867px;">
    </div><div class="star star-type3" style="top: 367.894px; left: 596.025px;">
    </div><div class="star star-type1" style="top: 426.53px; left: 1529.6px;">
    </div><div class="star star-type2" style="top: 894.731px; left: 1194.35px;">
    </div><div class="star star-type3" style="top: 44.165px; left: 434.768px;">
    </div><div class="star star-type2" style="top: 230.532px; left: 1777.68px;">
    </div><div class="star star-type1" style="top: 970.608px; left: 151.064px;">
    </div><div class="star star-type3" style="top: 1194.93px; left: 701.593px;">
    </div><div class="star star-type3" style="top: 479.97px; left: 1867.65px;">
    </div><div class="star star-type4" style="top: 408.367px; left: 1433.74px;">
    </div><div class="star star-type4" style="top: 144.396px; left: 451.69px;">
    </div><div class="star star-type2" style="top: 483.157px; left: 1250.27px;">
    </div><div class="star star-type3" style="top: 163.317px; left: 1843.6px;">
    </div><div class="star star-type3" style="top: 679.119px; left: 448.97px;">
    </div><div class="star star-type4" style="top: 149.105px; left: 1136.46px;">
    </div><div class="star star-type1" style="top: 48.2066px; left: 811.638px;">
    </div><div class="star star-type2" style="top: 1148.81px; left: 558.82px;">
    </div><div class="star star-type1" style="top: 667.682px; left: 434.202px;">
    </div><div class="star star-type2" style="top: 254.337px; left: 319.578px;">
    </div><div class="star star-type4" style="top: 132.267px; left: 1129.89px;">
    </div><div class="star star-type1" style="top: 1111.46px; left: 1700.03px;">
    </div><div class="star star-type1" style="top: 285.806px; left: 1148.35px;">
    </div><div class="star star-type2" style="top: 1.66836px; left: 1063.96px;">
    </div><div class="star star-type3" style="top: 232.838px; left: 1602.54px;">
    </div><div class="star star-type1" style="top: 528.953px; left: 1618.69px;">
    </div><div class="star star-type3" style="top: 998.168px; left: 823.529px;">
    </div><div class="star star-type4" style="top: 419.945px; left: 1207.57px;">
    </div><div class="star star-type1" style="top: 1064.69px; left: 369.912px;">
    </div><div class="star star-type3" style="top: 1007.39px; left: 563.238px;">
    </div><div class="star star-type3" style="top: 784.55px; left: 1491.95px;">
    </div><div class="star star-type4" style="top: 603.375px; left: 1360.07px;">
    </div><div class="star star-type3" style="top: 357.497px; left: 1351.88px;">
    </div><div class="star star-type2" style="top: 515.653px; left: 401.775px;">
    </div><div class="star star-type4" style="top: 357.28px; left: 625.794px;">
    </div><div class="star star-type2" style="top: 844.506px; left: 1845.6px;">
    </div><div class="star star-type2" style="top: 352.686px; left: 1752.29px;">
    </div><div class="star star-type3" style="top: 121.436px; left: 1599.97px;">
    </div><div class="star star-type4" style="top: 801.153px; left: 112.478px;">
    </div><div class="star star-type3" style="top: 1003.21px; left: 586.949px;">
    </div><div class="star star-type3" style="top: 774.15px; left: 1664.44px;">
    </div><div class="star star-type1" style="top: 405.906px; left: 1801.43px;">
    </div><div class="star star-type4" style="top: 218.07px; left: 1083.99px;">
    </div><div class="star star-type2" style="top: 61.165px; left: 1183.46px;">
    </div><div class="star star-type2" style="top: 598.132px; left: 1838.63px;">
    </div><div class="star star-type2" style="top: 346.287px; left: 24.447px;">
    </div><div class="star star-type3" style="top: 78.8624px; left: 480.572px;">
    </div><div class="star star-type1" style="top: 619.127px; left: 1794.33px;">
    </div><div class="star star-type1" style="top: 883.823px; left: 1493.5px;">
    </div><div class="star star-type1" style="top: 854.144px; left: 671.961px;">
    </div><div class="star star-type1" style="top: 313.637px; left: 334.759px;">
    </div><div class="star star-type1" style="top: 1195.27px; left: 319.352px;">
    </div><div class="star star-type3" style="top: 433.513px; left: 290.512px;">
    </div><div class="star star-type2" style="top: 998.254px; left: 498.142px;">
    </div><div class="star star-type4" style="top: 535.917px; left: 142.46px;">
    </div><div class="star star-type3" style="top: 689.454px; left: 1571.5px;">
    </div><div class="star star-type4" style="top: 498.44px; left: 578.338px;">
    </div><div class="star star-type1" style="top: 804.82px; left: 1199.62px;">
    </div><div class="star star-type1" style="top: 675.054px; left: 456.365px;">
    </div><div class="star star-type1" style="top: 299.193px; left: 536.472px;">
    </div><div class="star star-type4" style="top: 46.8552px; left: 513.308px;">
    </div><div class="star star-type4" style="top: 321.302px; left: 1641.9px;">
    </div><div class="star star-type3" style="top: 737.735px; left: 1869.32px;">
    </div><div class="star star-type1" style="top: 846.623px; left: 816.898px;">
    </div><div class="star star-type3" style="top: 1047.83px; left: 1324.28px;">
    </div><div class="star star-type1" style="top: 1047.25px; left: 1013.54px;">
    </div><div class="star star-type3" style="top: 755.439px; left: 619.446px;">
    </div><div class="star star-type4" style="top: 519.737px; left: 1782.61px;">
    </div><div class="star star-type3" style="top: 158.403px; left: 416.704px;">
    </div><div class="star star-type3" style="top: 877.132px; left: 790.046px;">
    </div><div class="star star-type1" style="top: 912.955px; left: 597.484px;">
    </div><div class="star star-type3" style="top: 793.94px; left: 63.3347px;">
    </div><div class="star star-type2" style="top: 807.715px; left: 420.654px;">
    </div><div class="star star-type3" style="top: 945.035px; left: 621.587px;">
    </div><div class="star star-type2" style="top: 13.5116px; left: 865.757px;">
    </div><div class="star star-type4" style="top: 365.828px; left: 280.607px;">
    </div><div class="star star-type1" style="top: 293.636px; left: 1612.19px;">
    </div><div class="star star-type3" style="top: 1105.18px; left: 913.224px;">
    </div><div class="star star-type2" style="top: 807.601px; left: 1543.2px;">
    </div><div class="star star-type4" style="top: 350.719px; left: 886.082px;">
    </div><div class="star star-type1" style="top: 1039.29px; left: 1809.31px;">
    </div><div class="star star-type2" style="top: 852.834px; left: 1502.93px;">
    </div><div class="star star-type2" style="top: 73.1544px; left: 1220px;">
    </div><div class="star star-type3" style="top: 300.199px; left: 730.298px;">
    </div><div class="star star-type2" style="top: 57.0512px; left: 1246.44px;">
    </div><div class="star star-type3" style="top: 453.611px; left: 68.756px;">
    </div><div class="star star-type2" style="top: 917.824px; left: 697.855px;">
    </div><div class="star star-type1" style="top: 740.172px; left: 1658.25px;">
    </div><div class="star star-type2" style="top: 1198.64px; left: 850.561px;">
    </div>
  </div>
</div>

<style>
  .staropacity {
    display: block;
  }

  .startanimate {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .galaxy {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 1900px;
    height: 1200px;
    margin: 0 auto;
    background-color: transparent;
  }

  .star {
    position: absolute;
    background-color: white;
  }

  @keyframes twinkle_one {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes twinkle_two {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes twinkle_three {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .star-type2 {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px white;
    box-shadow: 0 0 2px 1px white;
    -webkit-animation: twinkle_two 12s ease-in-out infinite;
    -moz-animation: twinkle_two 12s ease-in-out infinite;
    -o-animation: twinkle_two 12s ease-in-out infinite;
    animation: twinkle_two 12s ease-in-out infinite;
  }

  .star-type1 {
    width: 1px;
    height: 1px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 1px 1px white;
    -webkit-animation: twinkle_one 3s ease-in-out infinite;
    -moz-animation: twinkle_one 3s ease-in-out infinite;
    -o-animation: twinkle_one 3s ease-in-out infinite;
    animation: twinkle_one 3s ease-in-out infinite;
  }
  .star-type3 {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 0 white;
    box-shadow: 0 0 2px 0 white;
    -webkit-animation: twinkle_three 7s ease-in-out infinite;
    -moz-animation: twinkle_three 7s ease-in-out infinite;
    -o-animation: twinkle_three 7s ease-in-out infinite;
    animation: twinkle_three 7s ease-in-out infinite;
  }

  .star-type4 {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 2px white;
    box-shadow: 0 0 2px 2px white;
    -webkit-animation: twinkle_three 5s ease-in-out infinite;
    -moz-animation: twinkle_three 5s ease-in-out infinite;
    -o-animation: twinkle_three 5s ease-in-out infinite;
    animation: twinkle_three 5s ease-in-out infinite;
  }
</style>
