---
---

<footer class="w-screen py-3 px-4 text-black">
  <div class="grid grid-cols-3 font-semibold p-8">
    <div class="flex flex-col">
      <h2>Contact Info</h2>
      <div class="mt-8 font-semibold space-y-4">
        <p>Address</p>
        <p>support@recuby.com</p>
        <p>+91xxxxxxx</p>
      </div>
    </div>
    <div class="flex flex-col">
      <h2>Usefull Links</h2>
      <div class="flex space-x-16 mt-8 font-semibold">
        <div class="space-y-4">
          <p><a href="/">Home</a></p>
          <p><a href="/about-us">About Us</a></p>
          <p><a href="/services">Services</a></p>
          <p><a href="/careers">Careers</a></p>
          <p><a href="/contact-us">Contact Us</a></p>
          <p><a href="/job-portal">Job Portal</a></p>
        </div>
        <div class="space-y-4">
          <p><a>Privacy policy</a></p>
          <p><a>Terms & Conditions</a></p>
        </div>
      </div>
    </div>
    <div class="flex flex-col"><h2>Follow Us</h2></div>
  </div>
</footer>
