on:
  push:
    branches:
      - "main"

name: Deploy on Hostinger
jobs:
  deploy-recuby:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn

      - name: Build codebase
        run: yarn build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.ftp_server }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          local-dir: dist/
          server-dir: public_html
